@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .banner .banner-content {
        background-size: cover;
        padding: 150px 0;
        padding-bottom: calc(150px + 115px);
    }
    .choosing-reason .shape-2 {
        display: none;
    }
    .choosing-reason .title-box .shape-1 {
        display: none;
    }
    .desired-product .single-product {
        background: none;
        padding: 30px 40px;
    }
    .desired-product .single-product.special,
    .desired-product .single-product:hover {
        padding: 30px 40px;
        margin: 0;
    }
    .feature .single-feature {
        border: none;
    }
    .download .download-img {
        display: none;
    }
    .history .part-img {
        width: fit-content;
    }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* topbar */
    .topbar {
        padding: 10px 0;
    }

    .topbar .support-area {
        text-align: center;
    }

    .topbar .support-area-right {
        float: none;
        text-align: center;
    }

    .topbar .support-area ul li,
    .topbar .support-area-right ul li {
        padding: 3px 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        margin: 0 3px 10px;
    }

    .topbar .support-area ul li {
        font-size: 14px;
        margin-top: 10px;
    }

    /* hedear */
    .header {
        position: relative;
        top: 0;
        background: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    .header .mainmenu .navbar {
        display: block;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px;
        display: block;
        background: #1e1c33;
        text-align: left;
        margin-bottom: 1px;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        display: none;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .header .navbar-toggler {
        color: #062B52;
        border: 1px solid #fff;
        width: 45px;
        height: 45px;
        font-size: 25px;
        padding: 0;
        float: right;
        margin: 15px 0;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item:last-child .nav-link {
        margin-bottom: 15px;
    }

    /* banner */
    .banner .banner-content {
        background-size: cover;
        padding: 120px 0;
    }

    .banner .banner-content .text h4 {
        font-size: 18px;
        margin-top: -5px;
    }

    .banner .banner-content .text h1 span {
        display: block
    }

    .banner .banner-content .text h1 {
        font-size: 28px;
    }

    .banner .banner-content .country-select-switch .country-swith-area .select-text {
        display: none;
    }

    .banner .banner-content .country-select-switch .country-swith-area .form-inline .custom-select {
        width: 100%;
        height: 50px;
    }

    .banner .banner-content .country-select-switch .country-swith-area {
        display: block;
    }

    .banner .banner-content .country-select-switch {
        margin-top: 40px;
    }

    .banner .banner-content .text {
        margin-top: 0;
    }

    /* recherge process */
    .recherge-process {
        padding-top: 120px;
    }

    .recherge-process .recherge-process-area {
        margin-top: 0;
        padding-top: 30px;
    }

    .recherge-process .single-process {
        margin-bottom: 30px;
    }

    .recherge-process .single-process {
        margin: 0px 15px 30px;
        border: 1px solid #fff;
    }

    /* choosing reason */
    .choosing-reason .shape-2,
    .choosing-reason .title-box .shape-1 {
        display: none;
    }

    .choosing-reason .title-box h2 {
        font-size: 32px;
        margin-top: -8px;
        margin-bottom: 12px;
    }

    .choosing-reason .title-box {
        margin-bottom: 60px;
    }

    .choosing-reason .all-reasons .single-reason .reason-head {
        display: block;
    }

    .choosing-reason .all-reasons .single-reason .reason-head .part-icon {
        float: none;
        margin-bottom: 20px;
    }

    /* section title */
    .section-title h2 {
        font-size: 30px;
    }

    /* desired product */
    .desired-product .single-product {
        background: none;
        padding: 40px;
        margin-bottom: 30px;
    }

    .desired-product .single-product.special,
    .desired-product .single-product:hover {
        padding: 40px;
        margin-top: 0;
    }

    /* feature */
    .feature .single-feature {
        border: 1px solid #cccccc !important;
    }

    .feature .no-gutters .col-xl-4:last-child .single-feature {
        border-bottom: 1px solid #cccccc !important;
    }

    /* statics */
    .statics {
        background: none;
        background-color: #202020;
        padding: 100px 0 60px;
    }

    .statics .single-static {
        margin-bottom: 40px;
    }

    .statics .single-static.special {
        padding-bottom: 0;
    }

    /* download */
    .download {
        margin: 0;
    }

    .download .download-img {
        display: none;
    }

    .download .part-text h3 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -8px;
    }

    .download .part-text ul li a {
        margin-right: 10px;
        width: 120px;
    }

    /* call to action */
    .cta .part-text h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .cta .part-button {
        text-align: left;
    }

    /* blog */
    .blog .single-blog .part-text {
        padding: 30px;
    }

    /* footer */
    .footer {
        padding: 100px 0 70px;
    }

    .footer .about-area {
        margin-bottom: 35px;
    }

    .footer .useful-link {
        margin-bottom: 30px;
    }

    /* breadcrumb */
    .recuge-breadcrumb .breadcrumb-content {
        margin: 0;
        padding: 60px 0px;
    }

    /* about */
    .about {
        padding-bottom: 80px;
    }

    .about .part-img {
        display: none;
    }

    /* history */
    .history .part-img {
        position: initial;
        padding-right: 0;
        transform: none;
        margin-bottom: 80px;
    }

    .history .part-img img {
        height: auto;
    }

    .history .part-text {
        padding: 0px 0;
    }

    .history .part-text h3 {
        font-size: 28px;
    }

    /* team */
    .team .single-member {
        margin-bottom: 30px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* topbar */
    .topbar {
        padding: 10px 0;
    }

    .topbar .support-area {
        text-align: center;
    }

    .topbar .support-area-right {
        float: none;
        text-align: center;
    }

    .topbar .support-area ul li,
    .topbar .support-area-right ul li {
        padding: 3px 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        margin: 0 3px 10px;
    }

    .topbar .support-area ul li {
        font-size: 14px;
        margin-top: 10px;
    }

    /* hedear */
    .header {
        position: relative;
        top: 0;
        background: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    .header .mainmenu .navbar {
        display: block;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px;
        display: block;
        background: #fff;
        text-align: left;
        margin-bottom: 1px;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        display: none;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .header .navbar-toggler {
        color: #062B52;
        border: 1px solid #fff;
        width: 45px;
        height: 45px;
        font-size: 25px;
        padding: 0;
        float: right;
        margin: 15px 0;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item:last-child .nav-link {
        margin-bottom: 15px;
    }

    /* banner */
    .banner .banner-content {
        background-size: cover;
        padding: 120px 0;
    }

    .banner .banner-content .text h4 {
        font-size: 18px;
        margin-top: -5px;
    }

    .banner .banner-content .text h1 span {
        display: block
    }

    .banner .banner-content .text h1 {
        font-size: 28px;
    }

    .banner .banner-content .country-select-switch .country-swith-area .select-text {
        display: none;
    }

    .banner .banner-content .country-select-switch .country-swith-area .form-inline .custom-select {
        width: 100%;
        height: 50px;
    }

    .banner .banner-content .country-select-switch .country-swith-area {
        display: block;
    }

    .banner .banner-content .country-select-switch {
        margin-top: 40px;
    }

    .banner .banner-content .text {
        margin-top: 0;
    }

    /* recherge process */
    .recherge-process {
        padding-top: 120px;
    }

    .recherge-process .recherge-process-area {
        margin-top: 0;
        padding-top: 30px;
    }

    .recherge-process .single-process {
        margin-bottom: 30px;
    }

    .recherge-process .single-process {
        margin: 0px 15px 30px;
        border: 1px solid #fff;
    }

    /* choosing reason */
    .choosing-reason .shape-2,
    .choosing-reason .title-box .shape-1 {
        display: none;
    }

    .choosing-reason .title-box h2 {
        font-size: 32px;
        margin-top: -8px;
        margin-bottom: 12px;
    }

    .choosing-reason .title-box {
        margin-bottom: 60px;
    }
    .choosing-reason .all-reasons .single-reason .reason-head {
        display: block;
    }
    .choosing-reason .all-reasons .single-reason .reason-head .part-icon {
        float: none;
        margin-bottom: 20px;
    }

    /* section title */
    .section-title h2 {
        font-size: 30px;
    }

    /* desired product */
    .desired-product .single-product {
        background: none;
        padding: 40px;
        margin-bottom: 30px;
    }

    .desired-product .single-product.special,
    .desired-product .single-product:hover {
        padding: 40px;
        margin-top: 0;
    }

    /* feature */
    .feature .single-feature {
        border: 1px solid #cccccc !important;
        border-bottom: none !important;
    }

    .feature .no-gutters .col-xl-4:last-child .single-feature {
        border-bottom: 1px solid #cccccc !important;
    }

    /* statics */
    .statics {
        background: none;
        background-color: #202020;
        padding: 100px 0 60px;
    }

    .statics .single-static {
        margin-bottom: 40px;
    }

    .statics .single-static.special {
        padding-bottom: 0;
    }

    /* download */
    .download {
        margin: 0;
    }

    .download .download-img {
        display: none;
    }

    .download .part-text h3 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -8px;
    }

    .download .part-text ul li a {
        margin-right: 10px;
        width: 120px;
    }

    /* call to action */
    .cta .part-text h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .cta .part-button {
        text-align: left;
    }

    /* blog */
    .blog .single-blog .part-text {
        padding: 30px;
    }

    /* footer */
    .footer {
        padding: 100px 0 70px;
    }

    .footer .about-area {
        margin-bottom: 35px;
    }

    .footer .useful-link {
        margin-bottom: 30px;
    }

    /* breadcrumb */
    .recuge-breadcrumb .breadcrumb-content {
        margin: 0;
        padding: 60px 0px;
    }

    /* about */
    .about {
        padding-bottom: 80px;
    }

    .about .part-img {
        display: none;
    }

    /* history */
    .history .part-img {
        position: initial;
        padding-right: 0;
        transform: none;
        margin-bottom: 80px;
    }

    .history .part-img img {
        height: auto;
    }

    .history .part-text {
        padding: 0px 0;
    }

    .history .part-text h3 {
        font-size: 28px;
    }

    /* team */
    .team .single-member {
        margin-bottom: 30px;
    }

    /* blog details */
    .blog.blog-details .single-news .part-text h3 a {
        font-size: 24px;
        line-height: 34px;
    }

    .blog.blog-details .single-news .part-comment h3 {
        font-size: 24px;
    }

    .blog.blog-details .single-news .part-comment .single-comment {
        padding-right: 30px;
    }

    .blog.blog-details .single-news .part-comment .single-comment .commentor-img {
        float: none;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 5px;
    }

    .blog.blog-details .single-news .comment-box h3 {
        font-size: 24px;
    }

    .blog.blog-details .single-news .comment-box button {
        height: 50px;
        margin-bottom: 30px;
    }

    .blog.blog-details .single-news .part-img {
        margin-bottom: 20px;
    }

    .blog.blog-details .single-news .part-meta {
        display: none;
    }

    .sidebar .single-widget .recent-post .single-post .part-text h3 a {
        line-height: 26px;
    }

    .topup .nav-pills .nav-item .nav-link:after {
        display: none;
    } 

    .topup .tab-content .tab-pane .form-group .topup-box {
        display: block;
    }

    .topup .tab-content .tab-pane .form-group .topup-box .form-control:first-child {
        width: 100%;
        border-right: solid 1px #cccccc;
        border-radius: 5px;
    }

    .topup .tab-content .tab-pane .form-group .topup-box .form-control:last-child {
        border-radius: 5px;
        margin-top: 10px;
    }

    .topup .tab-content .tab-pane .products button {
        height: 80px;
        margin-top: 10px;
        width: 160px;
    }

    .topup .tab-content .tab-pane .order-summery {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .topup .tab-content .tab-pane .order-summery .table {
        width: 700px;
    }

    .base-button {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
}


@media only screen and (min-width: 480px) and (max-width: 575px) {
    /* topbar */
    .topbar {
        padding: 10px 0;
    }

    .topbar .support-area {
        text-align: center;
    }

    .topbar .support-area-right {
        float: none;
        text-align: center;
    }

    .topbar .support-area ul li,
    .topbar .support-area-right ul li {
        padding: 3px 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        margin: 0 3px 10px;
    }

    .topbar .support-area ul li {
        font-size: 14px;
        margin-top: 10px;
    }

    /* hedear */
    .header {
        position: relative;
        top: 0;
        background: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    .header .mainmenu .navbar {
        display: block;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px;
        display: block;
        background: #fff;
        text-align: left;
        margin-bottom: 1px;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        display: none;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .header .navbar-toggler {
        color: #062B52;;
        border: 1px solid #fff;
        width: 45px;
        height: 45px;
        font-size: 25px;
        padding: 0;
        float: right;
        margin: 15px 0;
    }

    .header .mainmenu .navbar .navbar-nav .nav-item:last-child .nav-link {
        margin-bottom: 15px;
    }

    /* banner */
    .banner .banner-content {
        background-size: cover;
        padding: 120px 0;
    }

    .banner .banner-content .text h4 {
        font-size: 18px;
        margin-top: -5px;
    }

    .banner .banner-content .text h1 span {
        display: block
    }

    .banner .banner-content .text h1 {
        font-size: 28px;
    }

    .banner .banner-content .country-select-switch .country-swith-area .select-text {
        display: none;
    }

    .banner .banner-content .country-select-switch .country-swith-area .form-inline .custom-select {
        width: 100%;
        height: 50px;
    }

    .banner .banner-content .country-select-switch .country-swith-area {
        display: block;
    }

    .banner .banner-content .country-select-switch {
        margin-top: 40px;
    }

    .banner .banner-content .text {
        margin-top: 0;
    }

    /* recherge process */
    .recherge-process {
        padding-top: 120px;
    }

    .recherge-process .recherge-process-area {
        margin-top: 0;
        padding-top: 30px;
    }

    .recherge-process .single-process {
        margin-bottom: 30px;
    }

    .recherge-process .single-process {
        margin: 0px 15px 30px;
        border: 1px solid #fff;
    }

    /* choosing reason */
    .choosing-reason .shape-2,
    .choosing-reason .title-box .shape-1 {
        display: none;
    }

    .choosing-reason .title-box h2 {
        font-size: 32px;
        margin-top: -8px;
        margin-bottom: 12px;
    }

    .choosing-reason .title-box {
        margin-bottom: 60px;
    }

    .choosing-reason .all-reasons .single-reason .reason-head .part-icon {
        float: none;
        margin-bottom: 20px;
    }

    /* section title */
    .section-title h2 {
        font-size: 30px;
    }

    /* desired product */
    .desired-product .single-product {
        background: none;
        padding: 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    .desired-product .single-product.special,
    .desired-product .single-product:hover {
        padding: 40px;
        margin-top: 0;
    }

    /* feature */
    .feature .single-feature {
        border: 1px solid #cccccc !important;
        border-bottom: none !important;
    }

    .feature .no-gutters .col-xl-4:last-child .single-feature {
        border-bottom: 1px solid #cccccc !important;
    }

    /* statics */
    .statics {
        background: none;
        background-color: #202020;
        padding: 100px 0 60px;
    }

    .statics .single-static {
        margin-bottom: 40px;
    }

    .statics .single-static.special {
        padding-bottom: 0;
    }

    /* download */
    .download {
        margin: 0;
    }

    .download .download-img {
        display: none;
    }

    .download .part-text h3 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -8px;
    }

    .download .part-text ul li a {
        margin-right: 10px;
        width: 120px;
    }

    /* call to action */
    .cta .part-text h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .cta .part-button {
        text-align: left;
    }

    /* blog */
    .blog .single-blog .part-text {
        padding: 30px;
    }

    /* footer */
    .footer {
        padding: 100px 0 70px;
    }

    .footer .about-area {
        margin-bottom: 35px;
    }

    .footer .useful-link {
        margin-bottom: 30px;
    }

    /* breadcrumb */
    .recuge-breadcrumb .breadcrumb-content {
        margin: 0;
        padding: 60px 0px;
    }

    /* about */
    .about {
        padding-bottom: 80px;
    }

    .about .part-img {
        display: none;
    }

    /* history */
    .history .part-img {
        position: initial;
        padding-right: 0;
        transform: none;
        margin-bottom: 80px;
    }

    .history .part-img img {
        height: auto;
    }

    .history .part-text {
        padding: 0px 0;
    }

    .history .part-text h3 {
        font-size: 28px;
    }

    /* team */
    .team .single-member {
        margin-bottom: 30px;
    }

    /* blog details */
    .blog.blog-details .single-news .part-text h3 a {
        font-size: 24px;
        line-height: 34px;
    }

    .blog.blog-details .single-news .part-comment h3 {
        font-size: 24px;
    }

    .blog.blog-details .single-news .part-comment .single-comment {
        padding-right: 30px;
    }

    .blog.blog-details .single-news .part-comment .single-comment .commentor-img {
        float: none;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 5px;
    }

    .blog.blog-details .single-news .comment-box h3 {
        font-size: 24px;
    }

    .blog.blog-details .single-news .comment-box button {
        height: 50px;
        margin-bottom: 30px;
    }
    .blog.blog-details .single-news .part-img {
        margin-bottom: 20px;
    }
    .blog.blog-details .single-news .part-meta {
        display: none;
    }

    .sidebar .single-widget .recent-post .single-post .part-text h3 a {
        line-height: 26px;
    }

    /* topup */
    .topup .nav-pills {
        display: block;
    }

    .topup .nav-pills .nav-item .nav-link:after {
        display: none;
    }

    .topup .tab-content .tab-pane .form-group .topup-box {
        display: block;
    }

    .topup .tab-content .tab-pane .form-group .topup-box .form-control:first-child {
        width: 100%;
        border-right: solid 1px #cccccc;
        border-radius: 5px;
    }

    .topup .tab-content .tab-pane .form-group .topup-box .form-control:last-child {
        border-radius: 5px;
        margin-top: 10px;
    }

    .topup .tab-content .tab-pane .products button {
        height: 80px;
        margin-top: 10px;
        width: 100%;
    }

    .topup .tab-content .tab-pane .order-summery {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .topup .tab-content .tab-pane .order-summery .table {
        width: 700px;
    }

    .base-button {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .etu-form .form-area .login-with-social a {
        width: 100%;
        margin-bottom: 10px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
    /* topbar */
    .topbar {
        padding: 10px 0;
    }
    .topbar .support-area {
        text-align: center;
    }
    .topbar .support-area-right {
        float: none;
        text-align: center;
    }
    .topbar .support-area ul li,
    .topbar .support-area-right ul li {
        padding: 3px 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        margin: 0 3px 10px;
    }
    .topbar .support-area ul li {
        font-size: 14px;
        margin-top: 10px;
    }

    /* hedear */
    .header {
        position: relative;
        top: 0;
        background: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    .header .mainmenu .navbar {
        display: block;
    }
    .header .mainmenu .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px;
        display: block;
        background: #fff;
        text-align: left;
        margin-bottom: 1px;
    }
    .header .mainmenu .navbar .navbar-nav .nav-item .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        display: none;
    }
    .header .mainmenu .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
    .header .navbar-toggler {
        color: #fff;
        border: 1px solid #fff;
        width: 45px;
        height: 45px;
        font-size: 25px;
        padding: 0;
        float: right;
        margin: 15px 0;
    }
    .header .mainmenu .navbar .navbar-nav .nav-item:last-child .nav-link {
        margin-bottom: 15px;
    }

    /* banner */
    .banner .banner-content {
        background-size: cover;
        padding: 120px 0;
    }
    .banner .banner-content .text h4 {
        font-size: 18px;
        margin-top: -5px;
    }
    .banner .banner-content .text h1 span {
        display: block
    }
    .banner .banner-content .text h1 {
        font-size: 28px;
    }
    .banner .banner-content .country-select-switch .country-swith-area .select-text {
        display: none;
    }
    .banner .banner-content .country-select-switch .country-swith-area .form-inline .custom-select {
        width: 100%;
        height: 50px;
    }
    .banner .banner-content .country-select-switch .country-swith-area {
        display: block;
    }
    .banner .banner-content .country-select-switch {
        margin-top: 40px;
    }
    .banner .banner-content .text {
        margin-top: 0;
    }

    /* recherge process */
    .recherge-process {
        padding-top: 120px;
    }
    .recherge-process .recherge-process-area {
        margin-top: 0;
        padding-top: 30px;
    }
    .recherge-process .single-process {
        margin-bottom: 30px;
    }
    .recherge-process .single-process {
        margin: 0px 15px 30px;
        border: 1px solid #fff;
    }

    /* choosing reason */
    .choosing-reason .shape-2,
    .choosing-reason .title-box .shape-1 {
        display: none;
    }
    .choosing-reason .title-box h2 {
        font-size: 32px;
        margin-top: -8px;
        margin-bottom: 12px;
    }
    .choosing-reason .title-box {
        margin-bottom: 60px;
    } 
    .choosing-reason .all-reasons .single-reason .reason-head .part-icon {
        float: none;
        margin-bottom: 20px;
    }

    /* section title */
    .section-title h2 {
        font-size: 30px;
    }

    /* desired product */
    .desired-product .single-product {
        background: none;
        padding: 40px;
        margin-bottom: 30px;
        text-align: center;
    }
    .desired-product .single-product.special,
    .desired-product .single-product:hover {
        padding: 40px;
        margin-top: 0;
    }

    /* feature */
    .feature .single-feature {
        border: 1px solid #cccccc!important;
        border-bottom: none !important;
    }
    .feature .no-gutters .col-xl-4:last-child .single-feature {
        border-bottom: 1px solid #cccccc !important;
    }

    /* statics */
    .statics {
        background: none;
        background-color: #202020;
        padding: 100px 0 60px;
    }
    .statics .single-static {
        margin-bottom: 40px;
    }
    .statics .single-static.special {
        padding-bottom: 0;
    }

    /* download */
    .download {
        margin: 0;
    }
    .download .download-img {
        display: none;
    }
    .download .part-text h3 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -8px;
    }
    .download .part-text ul li a {
        margin-right: 10px;
        width: 120px;
    }

    /* call to action */
    .cta .part-text h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }
    .cta .part-button {
        text-align: left;
    }

    /* blog */
    .blog .single-blog .part-text {
        padding: 30px;
    }

    /* footer */
    .footer {
        padding: 100px 0 70px;
    }
    .footer .about-area {
        margin-bottom: 35px;
    }
    .footer .useful-link {
        margin-bottom: 30px;
    }

    /* breadcrumb */
    .recuge-breadcrumb .breadcrumb-content {
        margin: 0;
        padding: 60px 0px;
    }

    /* about */
    .about {
        padding-bottom: 80px;
    }
    .about .part-img {
        display: none;
    }

    /* history */
    .history .part-img {
        position: initial;
        padding-right: 0;
        transform: none;
        margin-bottom: 80px;
    }
    .history .part-img img {
        height: auto;
    }
    .history .part-text {
        padding: 0px 0;
    }
    .history .part-text h3 {
        font-size: 28px;
    }

    /* team */
    .team .single-member {
        margin-bottom: 30px;
    }

    /* blog details */
    .blog.blog-details .single-news .part-text h3 a {
        font-size: 24px;
        line-height: 34px;
    }

    .blog.blog-details .single-news .part-comment h3 {
        font-size: 24px;
    }

    .blog.blog-details .single-news .part-comment .single-comment {
        padding-right: 30px;
    }

    .blog.blog-details .single-news .part-comment .single-comment .commentor-img {
        float: none;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 5px;
    }

    .blog.blog-details .single-news .comment-box h3 {
        font-size: 24px;
    }

    .blog.blog-details .single-news .comment-box button {
        height: 50px;
        margin-bottom: 30px;
    }
    .blog.blog-details .single-news .part-img {
        margin-bottom: 20px;
    }
    .blog.blog-details .single-news .part-meta {
        display: none;
    }

    .sidebar .single-widget .recent-post .single-post .part-text h3 a {
        line-height: 26px;
    }

    /* topup */
    .topup .nav-pills {
        display: block;
    }
    .topup .nav-pills .nav-item .nav-link:after {
        display: none;
    }
    .topup .tab-content .tab-pane .form-group .topup-box {
        display: block;
    }
    .topup .tab-content .tab-pane .form-group .topup-box .form-control:first-child {
        width: 100%;
        border-right: solid 1px #cccccc;
        border-radius: 5px;
    }
    .topup .tab-content .tab-pane .form-group .topup-box .form-control:last-child {
        border-radius: 5px;
        margin-top: 10px;
    }
    .topup .tab-content .tab-pane .products button {
        height: 80px;
        margin-top: 10px;
        width: 100%;
    }
    .topup .tab-content .tab-pane .order-summery {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .topup .tab-content .tab-pane .order-summery .table {
        width: 700px;
    }
    .base-button {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    /* faq */
    .faq .accordion .card .card-header h5 button {
        white-space: normal;
    }
    .faq .accordion .card .card-header h5 button:after {
        display: none;
    }

    /* form */
    .etu-form .form-area {
        padding: 0 15px;
        border: none;
    }

    .etu-form .form-area form .single-input-box {
        margin-bottom: 20px;
    }

    .etu-form .form-area form .single-input-box input {
        height: 50px;
    }

    .etu-form .form-area .login-with-social a {
        width: 100%;
        margin-bottom: 10px;
    }

    .etu-form .form-area .login-with-social a:last-child {
        margin-bottom: 0;
    }

    .etu-form .form-area h2 {
        font-size: 28px;
        margin-top: -8px;
    }
}